@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 236, 236);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    box-shadow: 1px 1px 5px;
}

header a {
    text-decoration: none;
    font-size: 50px;
    font-weight: 5000;
}


.filter {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
    margin: 20px;
    padding: 0;

}

.snack {
    background-color: rgb(112, 112, 239);
    padding: 20px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 5px;

}

.breakfast {
    background-color: rgb(66, 243, 66);
    padding: 20px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 5px;

}

.lunch {
    background-color: yellow;
    padding: 20px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 5px;

}

.dinner {
    background-color: rgb(255, 70, 70);
    padding: 20px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 5px;

}

.dessert {
    background-color: rgb(253, 146, 164);
    padding: 20px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 5px;

}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    margin: 20px;
}

.content a {
    text-decoration: none;
    margin: 20px;
}

.recipeCard {
    height: 400px;

    background-color: white;
    border-radius: 20px;

    box-shadow: 1px 1px 5px;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
}

.recipeCard:hover {
    transform: scale(1.05);
    z-index: 2;
}

.recipeCard img {
    height: 300px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 0;
}

.recipeCard h3 {
    margin: 0;
    padding-left: 20px;
}

.recipeCardDetails {
    color: grey;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.recipeCardDetails p:nth-child(2) {
    border-radius: 10px;
    background-color: greenyellow;
    padding: 5px;
}

.recipeDetail {
    margin: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.recipeDetail img {
    width: 50%;
    margin: auto;
    height: 400px;
    border-radius: 50px 50px 0 0;

}


.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 50px;
    margin: 20px;
    margin-top: 0;
    padding: 10px;

}

.description {
    background-color: white;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

.ingridients {
    background-color: white;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

.instructions {
    background-color: white;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}