@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 227, 232);
    font-family: 'Poppins', sans-serif;



}

#root {

    background-color: rgb(255, 227, 232);

    display: flex;


}

.error {
    background-color: rgb(252, 165, 180);
    color: rgb(255, 91, 79);
    border-radius: 20px;
    border: 2px solid rgb(255, 91, 79);
    font-size: 1em;
    padding: 10px;
}

.ok {
    background-color: rgb(183, 255, 145);
    color: rgb(60, 255, 0);
    border-radius: 20px;
    border: 2px solid rgb(96, 255, 22);
    font-size: 1em;
    padding: 10px;
}

aside {
    border-radius: 20px;
    margin: 20px;

    height: 80vh;
    width: 12%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;

}

aside button {
    font-size: 1em;
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid pink;
    text-decoration: none;
}

aside button:hover {
    background-color: white;
    color: pink;
    border: 2px solid pink;
}

.userinfo .userImage {
    background-color: white;
    border-radius: 50%;
    padding: 50px;
}

.useractions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.useractions a {
    font-size: 1em;
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

    text-decoration: none;
}


.useractions a:hover {
    background-color: white;
    color: pink;
}



.home {
    flex-grow: 1;

    border-radius: 20px;
    margin: 20px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.home p {
    margin: 20px;
    margin-bottom: 0;
    font-size: 0.7em;
}

.homeheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.homeheader input {
    font-size: 0.8em;
    padding: 7px 10px;
    width: 50%;
    padding-left: 50px;
    outline: none;
    background: #FFFFFF;
    color: #000000;
    border: 2px solid #EBA5C1;
    border-radius: 20px;
    box-shadow: 4px 2px 6px 0px #E2E2E2;
    transition: .3s ease;
    position: relative;
}


.filter {
    display: flex;
    justify-content: space-evenly;
    background-color: #fafafa;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: auto;
    padding: 0;
    height: 60px;

}

.snack {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(112, 112, 239);
    padding: 5px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 1px;
    width: 10%;
    border: none;

}

.snack:hover {
    cursor: pointer;
    background-color: rgb(141, 141, 237);
}

.snack p {
    font-size: 20px;
    margin: 0;
}

.breakfast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(66, 243, 66);
    padding: 5px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 1px;
    width: 10%;
    border: none;
}

.breakfast:hover {
    cursor: pointer;
    background-color: rgb(163, 230, 163);
}

.breakfast p {
    font-size: 20px;
    margin: 0;
}

.lunch {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    padding: 5px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 1px;
    width: 10%;
    border: none;
}

.lunch:hover {
    cursor: pointer;
    background-color: rgb(251, 251, 158);
}

.lunch p {
    font-size: 20px;
    margin: 0;
}

.dinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 70, 70);
    padding: 5px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 1px;
    width: 10%;
    border: none;
}

.dinner:hover {
    cursor: pointer;
    background-color: rgb(251, 163, 163);
}

.dinner p {
    font-size: 20px;
    margin: 0;
}

.dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253, 146, 164);
    padding: 5px;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin: 1px;
    width: 10%;
    border: none;
}

.dessert:hover {
    cursor: pointer;
    background-color: rgb(255, 222, 227);
}

.dessert p {
    font-size: 20px;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr));
    margin: 20px;
    margin-top: 0;
    border-radius: 20px;
    border-radius: 10px;
}

.content a {
    text-decoration: none;
    margin: 20px;

}

.recipeCard {
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fafafa;
    border-radius: 10px;
    color: black;

    transition: transform 0.2s ease-in-out;
    z-index: 1;
}

.recipeCard:hover {
    transform: scale(1.05);
    z-index: 2;
}

.recipeCardImage {
    margin: auto;
    display: flex;
    justify-content: center;


}

.recipeCard img {
    width: 70%;

    border-radius: 10px;
    padding: 0;
}

.recipeCard p {
    margin: 0;
    margin-left: 10px;
}

.recipeCardDetails {
    color: rgb(31, 31, 31);
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;


}

.recipeCardLikes {
    display: flex;
    margin-left: 20px;
}

.recipeCardLikes svg {
    color: red
}



.recipeDetail {
    flex-grow: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(233, 232, 232);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.titleDetails {
    margin-bottom: 20%;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
}

.titleDetails .title {

    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titleDetails .title h2 {
    margin: 0;
}

.titleDetailsMisc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleDetailsMisc .mealType {
    display: flex;
    align-items: center;
}

.titleDetailsMisc .cookingTime {
    display: flex;
    align-items: center;
}

.titleDetailsMisc .difficulty {
    display: flex;
    align-items: center;
}



.recipeDetail img {
    width: 100%;
    border-radius: 0 20px 0 0;
}

.details {
    display: flex;
    justify-content: space-between;

}

.details .image {
    width: 58%;
    border-radius: 0 20px 0 0;
    background-color: pink;
}

.details p {
    padding: 10px;
    margin: 0;
}



.mainContent{
    display: flex;
    margin-top: 20px;
}



.ingridients {
    width: 40%;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
 
}

.ingridients p {
    padding-left: 40px;

}

.instructions {
    width: 60%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.instructions p {
    padding-left: 40px;

}

.login {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.login h2 {
    color: pink;
}

.login form {
    font-size: 1.5em;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid white;
    max-width: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login label {
    display: block;
    color: pink;
    margin-bottom: 10px;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid pink;
    border-radius: 5px;
    box-sizing: border-box;
}

.login button {
    font-size: 1em;
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid white;

}


.login button:hover {
    background-color: white;
    color: pink;
    border: 2px solid pink;
}

.login p {
    font-size: 0.7em;
}

.login a {
    color: pink
}

.register {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.register h2 {
    color: pink;
}

.register form {
    font-size: 1.5em;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid white;
    max-width: 400px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.register label {
    display: block;
    color: pink;
    margin-bottom: 10px;
}

.register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid pink;
    border-radius: 5px;
    box-sizing: border-box;
}

.register button {
    font-size: 1em;
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 2px solid white;

}


.register button:hover {
    background-color: white;
    color: pink;
    border: 2px solid pink;
}




.addRecipe {
    margin: 20px;
    flex-grow: 1;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.5);


}

.addRecipe form {
    font-size: 0.8em;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    display: flex;

}

.recipeinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeinfo h1 {
    color: rgb(33, 33, 33);
    margin: 0;
    margin-bottom: 20px;

}

.recipeinfo input {
    width: 80%;

    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid pink;
    padding: 5px;
}

.recipeinfo textarea {
    width: 90%;
    height: 150px;
    border: 1px solid pink;

    resize: none;
    padding: 10px;
    border-radius: 20px;
}

.recipecontent {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    border-radius: 10px;
    border: 2px solid pink;
    padding: 10px;
    overflow-x: auto;
    max-height: 90%;
}


.recipecontent h1 {
    color: pink;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;

}


.recipecontent input {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid pink;
    padding: 5px;
}

.recipecontent button {
    font-size: 0.9em;
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 1px;
    border: 2px solid white;
    margin-bottom: 20px;
}

.recipecontent button:hover {
    background-color: white;
    color: pink;
    border: 2px solid pink;
}

.recipestatistics {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recipestatistics input {
    width: 50%;

    border: 1px solid pink;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.recipestatistics select {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid pink;

}

.recipestatistics option {
    padding: 10px;
}

.recipestatistics button {
    font-size: 1em;
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1px;
    border: 2px solid white;

}

.recipestatistics button:hover {
    background-color: white;
    color: pink;
    border: 2px solid pink;
}